body{
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	line-height: 21px;
	border-left: 10px solid #c1373f;
	background-color: ghostwhite;
	margin: 30px;
	color: black;
}
/*LAYOUT*/
h1{
	font-family:'Bebas Neue', cursive;
	font-size: 65px;
	line-height: 65px;
	color: #4b4856;
}
h2{
	font-family:'Quicksand', sans-serif;
	font-size: 21px;
	margin: 0;
	color: #4b4856;
}
h5{
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	color: #4b4856;
}
a{
	color: #c1373f;
}

/*CSS GRID*/
header{
	grid-area: header;
	min-height: 250px;
	max-height: 400px;
	padding: 20px;
	line-height: 22px;
	background-color: ghostwhite;
}
img{
	height: 400px;
}
#image{
	grid-area:image;
	height: 450px;
	padding: 20px;
	background-color: #ebf1eb;
	text-align: center;
}
#ingredients{
	grid-area:ingredients;
	min-height: 500px;
	max-height: 1000px;
	min-width: 200px;
	max-width: 500px;
	padding: 30px;
	line-height: 30px;
	background-color: #ebf1eb;
}
#directions{
	grid-area:directions;
	min-height: 600px;
	max-height: 1000px;
	padding: 30px;
	line-height: 30px;
	background-color: #ebf1eb;
	
}
footer{
	grid-area:footer;
	height: 50px;
	width: 100%;
	background-color:white;
	text-align: center;
}

.grid-container{
	display: grid;
	grid-template-areas:
	'header header header'
	'ingredients ingredients image'
	'directions directions directions'
	'footer footer footer';
	width: 90%;
	margin: auto;
	background-color: #ebf1eb;
	
}