body{
	background-image: linear-gradient(darkolivegreen, olivedrab);
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	color: white;
	text-align: left;
}
h1{
	font-family: 'Bebas Neue', cursive;
	font-size: 5em;
	color: gold;
	line-height: 72px;
}
h5{
	font-style: bold;
	font-size: 2rem;
	text-transform: uppercase;
	line-height: 10px;
	color:  lightseagreen;
}
a{
	color: white;
	}
/* COMMENT */
#ingredients{
	background-color: goldenrodyellow;
	color: darkorange;
	font-style: italic;
}
#directions{
	color: white;
	background-color: lightseagreen;
	width: 1000px;
}