body{
	background-color: hotpink;
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	color: white;
	text-align: left;
}
h1{
	font-family: 'Bebas Neue', cursive;
	font-size: 5em;
	color: gold;
	line-height: 72px;
}
h5{
	font-style: bold;
	font-size: 2rem;
	text-transform: uppercase;
	line-height: 28px;
	color:  navy;
}
a{
	color: white;
	}
/* COMMENT */
#ingredients{
	background-color: goldenrodyellow;
	color: navy;
	font-style: italic;
}
#optional{
	font-style: italic;
	text-decoration: underline;
}
#directions{
	color: white;
	background-color: navy;
	width: 1000px;
}